
<h1> restaurant you want to delete :</h1>


<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.submit "add", class: "btn btn-primary" %>
<% end %>

